@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body {
    font-family: "Inter", sans-serif;
}

.container {
    padding: 0 300px 0 300px;
}

ul {
    list-style-type: none;
}

.nav-items {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-logo {
    width: 60px;
}

.nav-buttons {
    display: flex;
    gap: 50px;
    padding-left: 100px;
}

.container-two {
    padding: 0 300px 0 300px;
}

.zayavka {
    padding: 17px 75px;
}

.container-three {
     padding: 0 300px 0 300px;
}